python-dotenv
llama-index-readers-file 
llama-index-vector-stores-postgres
llama-index-embeddings-huggingface
llama-index-llms-llama-cpp
llama-cpp-python
pymupdf
psycopg2-binary
pgvector
asyncpg
sqlalchemy[asyncio]
greenlet
pymongo
diffusers
transformers
accelerate
peft
